@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
header {
  position: sticky;
  top: 0;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 66px;
}
@media (max-width: 1550px) {
  .header {
    background: coral;
    height: 122px;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  .right {
    flex-direction: column;
  }
}

.left img {
  width: 32px;
  height: 23px;
}
.container {
  padding: 0 10vw;
  padding: 13px 0;
}
nav {
  font-size: 12px;
}
nav ul li {
  list-style: none;
  padding: 0 12px;
}
.section1 {
  background-color: rgb(198, 193, 193);
}
.search {
  width: 34vw;
  padding: 7px 17px;
  border: 0.5px solid grey;
  background-color: #f7f8fd;
  border-radius: 5px;
}
